* {
    box-sizing: border-box;
}
/* Start of the Form Style*/
body {
    background-color: whitesmoke;
    color: pink;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;
}
.result-box {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 50%;
}
textarea {
    align-items: center;
    border: solid 1px gray;
    margin: 20px 50px;
    padding: 10px 30px;
    
    width: 80%;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: #696969;
    font-size: 18px;
}

.btn-large {
    display: block;
    width: 50%;
}