* {
    box-sizing: border-box;
}
/* Start of the Form Style*/
body {
    background-color: whitesmoke;
    color: pink;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;
}
/*result box styles*/
.result-box {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 50%;
}
textarea {
display: block;
margin-right: 70px;
margin-left: 150px;
padding-right: 100px;
padding-left: 50px;
text-align: center;
resize: none;
overflow: hidden;

}

.btn-large {
    display: block;
    width: 50%;
    color: red
}
/* Media queries styles*/
@media (max-width: 690px) {
    .btn-large{
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
    textarea{
      font-size: 1rem;
      text-align: center;
      display: inline;
      margin: 10px;
      
    }
  }
  
  @media (max-width: 500px) {
    .btn-large {
      font-size: 0.8rem;
    }
    textarea{
       font-size: 1rem;
       text-align: center;
      display: inline;
      margin: 10px;
  }
}